{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}Gerenciador de Atividades{% endblock %}

{% block content %}
   <form method="post" class="position-absolute top-50 start-50 translate-middle">
      <h2>{% block action %}Excluir Atividade?{% endblock %}</h2>
      {% csrf_token %}
      <p>Você realmente deseja excluir a tarefa <span class="fw-bold">{{activity.name}}</span>?</p>
      <button type="submit" class="btn btn-outline-secondary bg-warning text-dark">Excluir</button>
      <a href="{% url 'activity_list' %}" class="btn btn-secondary">Cancelar</a>
   </form>

{% endblock %}

